* {
  box-sizing: border-box;
  font-family: "Alata", "Source Sans Pro", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: auto;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #48dbfb);
  border-radius: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
